<section class= "alert alert-info" role="alert">
  <h1>Jungle Dashboard</h1>
    <p> <%= "The store currently has #{@products_total} products in #{@categories_total} categories." %> </p>
   <a href="/admin/products" alt="Products admin"> Products - Admin </a>
   <br>
   <a href="/admin/categories" alt="Categories admin"> Categories - Admin </a>
</section>
