<section class= "alert alert-info" role="alert">
<h2>Your Cart is Empty</h2>
<p>You don't have anything in your cart yet.</p> 
<p>We have many beautiful and healthy plants waiting for you!</p>
</section>