<section class="about">
<h1>About Jungle</h1>
<p>Founded in Greenwich Village in 1956 by the elusive jazz harpist Everett Johannson, <b>Jungle</b> was a centerpiece of the neo-bohemian renaissance. With it's cutting-edge hi-fi stereo equipment and vinyl lps nestled in an abundance of robust greenery from around the world, it was a cosmopolitan oasis like no other. </p>
<p>More than six storied decades later</p>
</section>