<section class="about">
<h1>About Jungle</h1>
<p>Founded in Greenwich Village in 1956 by the elusive jazz harpist Everett Johannson, <b>Jungle</b> was a centerpiece of the neo-bohemian renaissance. With it's cutting-edge hi-fi stereo equipment and jazz records nestled in robust greenery from around the world, it was a cosmopolitan oasis like no other. </p>
<p>The <b>Jungle</b> of today is guided by Johannson's great-great-granddaughter Salome Davis in Red Hook, Brooklyn. </p>
<h3>Visit us!</h3>
<h5><b>Jungle</b></h5>
<address>
 
  80 Lorraine St.<br />
  Brooklyn<br />
  NYC, NY 11231<br />
  USA<br />
  <b>Contact:</b>
  <a href="mailto:jungle@jungle.com"> jungle</a><br />
  <b>Phone:</b> (212) 457-8989<br />
</address>
</section>