// Place all the styles related to the About controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


.about {
  margin-bottom: 5em;
   h1 {
    margin: 0;
    padding: 0.25em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgba(0, 130, 29, 0.7);
    font-weight: 700;
    font-family: "Montserrat";
    span {
      font-size: 0.8em;
    }
    span:last-of-type {
      font-size: 0.5em;
    }
  }

  div {
    display: flex;
    justify-content: space-between;
    padding: 0.5em;
    form {
      display: inline-block;
      margin-left: auto;
    }
  }

}